.info_text{
    padding-right: 10px;
    cursor: pointer;
    color:black;
}

.info_text:hover{
    text-decoration: underline;
}

.main_container{
    padding-left: 4px;
}

.follow_container{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-color: transparent;
}

.tinyUser{
    padding-right: 10px;
}