.popover_class{
    top: '50px'
}

.Popper{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    background-color: white;
    margin: 10px;
    padding: 10px;
}

.Popper_info{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-left: 10px;
}

.Popper_info2{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-left: 10px;
}

.follow{
    padding-right: 5px;
}

.avatar{
   border: 0.5px solid gray;
}

.avatar:hover{
    filter: grayscale(0.5);
}

.container{
   
}